{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to {{school_detail.name}}'s detail page</h1>
  </div>
</div>

  <div class="container">
    <h2>School details</h2>
    <div class="container">
      <p><strong>Name:</strong> {{school_detail.name}}</p>
      <p><strong>Principal:</strong> {{school_detail.principal}}</p>
      <p><strong>Location:</strong> {{school_detail.location}}</p>
    </div>

    <h2>Current Students</h2>
    <div class="container">
      {% for student in school_detail.students.all %}
        <p><stong>{{student.name}}</strong> - {{student.age}} years old</p>
      {% endfor %}
    </div>
  </div>

{% endblock %}
