{% extends "basic_app/basic_app_base.html"%}
{% block body_block %}



  {% if not form.instance.slug %}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Create a new school here.</h1>
          <h3 class="lead">Fill out the form below and submit.</h3>
        </div>
      </div>
      <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
  {% else %}
    Create School
  {% endif %}

{% endblock %}
