{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to {{school_detail.name}}'s detail page</h1>
  </div>
</div>

  <div class="container">
    <h2>School details</h2>
    <div class="container">
      <p><strong>Name:</strong> {{school_detail.name}}</p>
      <p><strong>Principal:</strong> {{school_detail.principal}}</p>
      <p><strong>Location:</strong> {{school_detail.location}}</p>
    </div>

    <h2>Current Students</h2>
    <div class="container">
      {% for student in school_detail.students.all %}
        <p><stong>{{student.name}}</strong> - {{student.age}} years old</p>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <!--the pk=school_detail.pk is an argument that passes the pk aka school Id to the school update url-->
    <p><a class="btn btn-warning" href="{% url 'basic_app:school_update' pk=school_detail.pk %}">Update</a></p>
    <p><a class="btn btn-danger" href="{% url 'basic_app:school_delete' pk=school_detail.pk %}">Delete</a></p>
  </div>

{% endblock %}
